.session-container .chat-row .chat-col {
  height: 60vh;
  overflow-y: scroll;
}

.session-container .chat-row .chat-col .inner-chat-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.session-container .chat-row .session-list {
  overflow: auto;
}

.session-container .session-list .list-group-item {
  margin-bottom: 0;
  border: 0;
  border-bottom: 1px solid;
}

.session-container .session-list .list-group-item:last-of-type {
  border-bottom: 0;
}

.session-container .chat-room .right {
  flex-direction: row-reverse;
}

.session-container .chat-room .left {
  flex-direction: row;
}

.verify-experts-container .table-wrap {
  height: 75vh;
  overflow-y: auto;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.active, .btn:hover {
  background-color: rgb(108, 188, 235) !important;
  color: white !important;
}
