.session-container .chat-row .chat-col {
  height: 60vh;
  overflow-y: auto;
}

.session-container .chat-row .chat-col .inner-chat-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.session-container .chat-row .session-list {
  height: 60vh;
  overflow-y: auto;
}
@media only screen and (max-width: 768px) {
  .session-container .chat-row .session-list {
    height: 30vh;
    margin-bottom: 30px;
  }
}

.session-container .session-list .list-group-item {
  margin-bottom: 0;
  border: 0;
  border-bottom: 1px solid;
}

.session-container .session-list .list-group-item:last-of-type {
  border-bottom: 0;
}

.session-container .chat-room .right {
  flex-direction: row-reverse;
}

.session-container .chat-room .left {
  flex-direction: row;
}

.verify-experts-container .table-wrap {
  height: 55vh;
  overflow-y: auto;
}

.posts-container .posts-wrap {
  height: 75vh;
  overflow-y: auto;
}

.convBtn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.active,
.convBtn:hover {
  background-color: rgb(108, 188, 235) !important;
  color: white !important;
}

.cards-container .card-fix {
  width: 18rem;
  height: 18rem;
}

@media only screen and (max-width: 1200px) {
  .cards-container .card-fix {
    margin-left: 0;
  }
}
@media only screen and (max-width: 992px) {
  .cards-container .card-fix {
    width: 14rem;
    height: 20rem;
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .cards-container .card-fix {
    width: 32rem;
    height: 15rem;
    margin: 0;
  }
}
@media only screen and (max-width: 576px) {
  .cards-container .card-fix {
    width: 25rem;
    height: 15rem;
    margin: 0 30px;
  }
}

.footer-container .footer-logo-image {
  width: 7.5rem;
  height: 7.5rem;
  padding: 10px;
  border: 2px solid gray;
  box-shadow: 0 0 6px gray;
}

.nav-container .nav-logo-image {
  width: 2.4rem;
  height: 2.4rem;
}

.login-container .login-logo-image {
  width: 8rem;
  height: 8rem;
  padding: 10px;
  border: 2px solid gray;
  box-shadow: 0 0 6px gray;
}

.faq-container .faq-wrap {
  height: 60vh;
  overflow-y: auto;
}
@media only screen and (max-width: 768px) {
  .faq-container .faq-wrap {
    height: 75vh;
    overflow-y: auto;
  }
}